include ../mixins/repAttrOption.pug
include ../mixins/repJoinOption.pug

mixin categoryRows(result)
	tr
		td=result.attrName
		td=result.attrType
		td=result.numOfNullRecords
		td=result.portionOfNullRecords
		td=result.numOfDistinct
		td=result.numOfSpcRecords
		td=result.portionOfSpcRecords
		td=result.recommended
		td
			select(class="repSelect" name=`${result.attrName}_repAttr`)
				+repAttrOption(repAttrJoinKey.repAttrArray)
		td
			select(class="repSelect" name=`${result.attrName}_repJoinKey`)
				+repJoinOption(repAttrJoinKey.repKeyArray)
