include ../../mixins/editTable/repAttrOptionSelected.pug
include ../../mixins/editTable/repJoinOptionSelected.pug

mixin categoryEditRows(result)
	tr(id=`tr_${result.attr_name}`)
		td(id=`c_td_${result.attr_name}_0`)=result.attr_name
		td(id=`c_td_${result.attr_name}_1`)=result.d_type
		td
			button(type='button' class=`modBtn` value=`${result.attr_name}`) 수정
		td
			button(type='button' class=`delBtn` value=`${result.attr_name}`) 삭제
		td(id=`c_td_${result.attr_name}_2`)=result.null_num
		td(id=`c_td_${result.attr_name}_3`)=result.null_portion
		td(id=`c_td_${result.attr_name}_4`)=result.diff_num
		td(id=`c_td_${result.attr_name}_5`)=result.special_num
		td(id=`c_td_${result.attr_name}_6`)=result.special_portion
		td(id=`c_td_${result.attr_name}_7`)=result.key_candidate
		td
			select(class="repSelect repAttr" name=`${result.attr_name}`)
				+repAttrOptionSelected(repAttrJoinKey.repAttrArray, result.rattr_name)
		td
			select(class="repSelect repJoinKey" name=`${result.attr_name}`)
				+repJoinOptionSelected(repAttrJoinKey.repKeyArray, result.rkey_name)
