include ../../mixins/editTable/repAttrOptionSelected.pug
include ../../mixins/editTable/repJoinOptionSelected.pug

mixin categoryEditRows(result)
	tr(class=`tr_${result.attr_name}`)
		td=result.attr_name
		td(class=`td_d_type`)=result.d_type
		td
			button(type='button' class=`modBtn` value=`${result.attr_name}`) 수정
		td
			button(type='button' class=`delBtn` value=`${result.attr_name}`) 삭제
		td=result.null_num
		td=result.null_portion
		td=result.diff_num
		td=result.special_num
		td=result.special_portion
		td=result.key_candidate
		td
			select(class="repSelect repAttr" name=`${result.attr_name}`)
				+repAttrOptionSelected(repAttrJoinKey.repAttrArray, result.rattr_name)
		td
			select(class="repSelect repJoinKey" name=`${result.attr_name}`)
				+repJoinOptionSelected(repAttrJoinKey.repKeyArray, result.rkey_name)
