include ../../mixins/editTable/repAttrOptionSelected.pug
include ../../mixins/editTable/repJoinOptionSelected.pug

mixin numericEditRows(result)
	tr
		td=result.attr_name
		td=result.d_type
		td
			button(class=`${result.attr_name} delBtn`) 삭제
		td=result.null_num
		td=result.null_portion
		td=result.diff_num
		td=result.max_value
		td=result.min_value
		td=result.zero_num
		td=result.zero_portion
		td=result.key_candidate
		td
			select(class="repSelect repAttr" name=`${result.attr_name}`)
				+repAttrOptionSelected(repAttrJoinKey.repAttrArray, result.rattr_name)
		td
			select(class="repSelect repJoinKey" name=`${result.attr_name}`)
				+repJoinOptionSelected(repAttrJoinKey.repKeyArray, result.rkey_name)
