.nav_wrapper
    .sidebar-header
        a(href="/") PRESWOT LAB
    nav
        ul
            li
                a(href="/upload") 테이블 추가하기
            li
                a(href="/domain-scan") 속성 도메인 스캔
            li
                a(href="/edit-table") 결합키 속성 편집
            li
                a(href="/single-join") 단일 테이블 결합
            li
                a(href="/multi-join") 다중 테이블 결합
            li
                    a(href="/result") 결과조회
            if loggedIn
                li
                    a(href="/logout") Log Out
            else
                li
                    a(href="/login") Login
        if loggedIn
                #userinfo
                    div=loginInfo.dbUser
                    div=loginInfo.dbName
                    div=loginInfo.dbHostIp  
                    div=loginInfo.dbPort
                    div=loginInfo.dbKind
