.nav_wrapper
    .sidebar-header
        a(href="/") PRESWOT LAB
    nav
        ul
            li
                a(href="/upload") 테이블 추가하기
            li
                a(href="/domain-scan") 속성 도메인 스캔
            li
                a(href="/edit-table") 결합키 속성 편집
            li
                a(href="/single-join") 단일 테이블 결합
            li
                a(href="/multi-join") 다중 테이블 결합
            li
                a(href="/multi-join-result") 결과조회
            if loggedIn
                li
                    a(href="/logout") Log Out
            else
                li
                    a(href="/login") Login
        if loggedIn
                #userinfo
                    span 사용자명: 
                    span=loginInfo.dbUser
                    br
                    span 데이터베이스명: 
                    span=loginInfo.dbName
                    br
                    span 호스트 IP: 
                    span=loginInfo.dbHostIp  
                    br
                    span 포트번호: 
                    span=loginInfo.dbPort
                    br
                    span DB종류: 
                    span=loginInfo.dbKind
                    br
