mixin joinResultTable-multi(result)
	tr(id=`tr_${result.row}`)
		td=result.a_table_name
		td=result.a_count
		td=result.a_attr_name
		td=result.b_table_name
		td=result.b_count
		td=result.b_attr_name
		td=result.rkey_name
		td=result.result_count
		td=result.success_rate_A
		td=result.success_rate_B
		td=result.state
		td=result.view_name
		td#csv_download.download
			a(download=`${result.a_table_name}_${result.b_table_name}_JOIN` href=`/api/download/multi-join/${result.a_table_name}_${result.b_table_name}/${result.view_name}`) 다운로드
			//- a(download=`${joinInfo.table_name_A}_${joinInfo.table_name_B}_JOIN` href=`/api/download/join/${joinInfo.table_name_A}_${joinInfo.table_name_B}/${joinInfo.view_name}`) 다운로드
