extends ../default

block content
	#tableName=tableName
	#boxplot_container
	#from-wrapper
		form(method="POST" action=`/api/saveMapping/${tableName}`)
			#table-wrapper.category_domain
				include ../../includes/domainScan/categoryDomain.pug
				#category_download.download
					a(download=`${tableName}_categoryScan` href=`/api/download/category/${tableName}`) 범주속성 스캔결과 다운로드
			#table-wrapper.numeric_domain
				include ../../includes/domainScan/numericDomain.pug
				#numeric_download.download
					a(download=`${tableName}_numericScan` href=`/api/download/numeric/${tableName}`) 수치속성 스캔결과 다운로드
			#save
				input(type="submit" value="매핑 저장하기")
block scripts
	script(type='module' src='/static/js/domain-scan-result.js')
	script(src="https://cdn.jsdelivr.net/npm/apexcharts")
