mixin categoryRows(result)
	tr
		td=result.attr_name
		td=result.d_type
		td=result.null_num
		td=result.null_portion
		td=result.diff_num
		td=result.special_num
		td=result.special_portion
		td=result.key_candidate
		td=result.rattr_name
		td=result.rkey_name
