extends default

block content
	#tableName=tableName
	#from-wrapper
		form(method="POST" action="./save")
			#table-wrapper.category_domain
				include ../includes/categoryTable.pug
				a(href=tableName download=`./api/download/category/${tableName}`) 범주속성 스캔결과 다운로드
			#table-wrapper.numeric_domain
				include ../includes/numericTable.pug
				a(href=tableName download=`./api/download/numeric/${tableName}`) 수치속성 스캔결과 다운로드
			#save
				input(type="submit" value="매핑 저장하기")
block scripts
	script(src='/static/js/domain-scan-result.js')
